* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #FFFFFF;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 0 1rem;
}
header {
  margin: 2.5rem 0;
}
header .width {
  max-width: 920px;
  margin: 0 auto;
  color: #333;
  padding: 0 1rem;
  box-sizing: border-box;
}
header .width h1 {
  font-size: 2.75rem;
  font-weight: 400;
}
header .width p {
  font-size: 1.5rem;
  font-family: serif;
  font-style: italic;
}
nav .width {
  max-width: 920px;
  margin: 0 auto;
  padding: 0 1rem;
  background-color: #2d3642;
  display: flex;
  justify-content: flex-start;
  position: relative;
  z-index: 2;
}
nav .width a {
  color: #FFFFFF;
  padding: 1rem;
  display: block;
  text-decoration: none;
}
nav .width a:hover {
  background-color: #666666;
}
nav .width a.selected {
  text-decoration: underline;
}
body > .width {
  max-width: 920px;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0px 0px 8px 0px rgba(7, 7, 7, 0.3);
}
main {
  padding: 0 1rem;
  background-color: #e9e9e9;
  overflow: auto;
}
main p {
  line-height: 1.2rem;
  font-size: 1rem;
  margin: 1rem 0;
}
main h2 {
  color: #14709d;
  font-weight: 400;
  margin: 1rem 0;
}
main ul {
  padding-left: 1.5rem;
  line-height: 1.2rem;
  font-size: 1rem;
  margin: 1rem 0;
}
main .card {
  background-color: #FFFFFF;
  margin: 1rem 0;
  box-shadow: 0px 0px 8px 0px rgba(7, 7, 7, 0.2);
  padding: 1rem;
}
footer {
  background-color: #2d3642;
  color: #FFFFFF;
  padding: 1rem 0;
}
footer .multi-col {
  display: flex;
  justify-content: space-between;
}
footer .multi-col .col {
  margin: 1rem;
  flex: 1 0 0;
}
footer #medium {
  margin: 0.5rem 0;
  line-height: 1.2rem;
}
footer #medium span {
  display: block;
}
footer #medium span a {
  color: #14709d;
}
footer #medium span a:hover {
  color: #1a90ca;
}
footer #travel p {
  margin: 0.5rem 0;
}
footer #slideshow hr {
  margin: 1rem 0;
}
footer #tweet {
  width: 265px;
}
footer #tweet h2 {
  margin-top: 1rem;
}
footer h2 {
  font-weight: 400;
}
footer hr {
  border: none;
  height: 2px;
  background-color: #424f60;
  margin: 0.5rem 0;
}
footer #copyright {
  padding: 0 2rem;
  color: #424f60;
}
main .splash {
  margin: 0 -1rem;
  background-image: url("images/cover-mountain.jpg");
  display: flex;
  background-position: center;
  background-size: cover;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
main .splash .introduction {
  margin: 3rem 1rem;
  padding: 1rem;
  max-width: 40%;
  background-color: white;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
main .splash .image {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 0;
}
main .splash .image img {
  width: 200px;
  box-shadow: 0px 0px 0px 4px white, 0px 0px 8px 4px rgba(7, 7, 7, 0.2);
}
main .cards {
  display: flex;
  margin: 0 -1rem;
}
main .cards .card {
  background-color: #FFFFFF;
  flex-grow: 1;
  flex-basis: 0;
  margin: 1rem;
  box-shadow: 0px 0px 8px 0px rgba(7, 7, 7, 0.2);
  padding: 1rem;
}
